<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>webapp-hyuk</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/error/503.html</location>
  </error-page>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>kr.ac.kku.cs.wp.hyuk.demo.HelloServlet</servlet-class>
    <init-param>
      <param-name>greeting</param-name>
      <param-value>Hello, World from ServletConfig!</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>kr.ac.kku.cs.wp.hyuk.aaa.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>kr.ac.kku.cs.wp.hyuk.aaa.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseFilter</display-name>
    <servlet-name>BaseFilter</servlet-name>
    <servlet-class>kr.ac.kku.cs.wp.hyuk.aaa.BaseFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseFilter</servlet-name>
    <url-pattern>/BaseFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationFilter</display-name>
    <servlet-name>AuthenticationFilter</servlet-name>
    <servlet-class>kr.ac.kku.cs.wp.hyuk.aaa.AuthenticationFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationFilter</servlet-name>
    <url-pattern>/AuthenticationFilter</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>kr.ac.kku.cs.wp.hyuk.aaa.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>valve</param-name>
      <param-value>on</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/jsp/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/jsp/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/logout</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorityFilter</display-name>
    <servlet-name>AuthorityFilter</servlet-name>
    <servlet-class>kr.ac.kku.cs.wp.hyuk.aaa.AuthorityFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityFilter</servlet-name>
    <url-pattern>/jsp/admin/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthorityFilter</filter-name>
    <filter-class>kr.ac.kku.cs.wp.hyuk.aaa.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>/jsp/admin/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>java</display-name>
    <servlet-name>java</servlet-name>
    <servlet-class>kr.ac.kku.cs.wp.hyuk.aaa.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>java</servlet-name>
    <url-pattern>/java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>kr.ac.kku.cs.wp.hyuk.aaa.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>kr.ac.kku.cs.wp.hyuk.aaa.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <jsp-config>
  	<taglib>
  		<taglib-uri>kr.ac.kku.cs.wp.hyuk.tools.tags.custom</taglib-uri>
  		<taglib-location>/WEB-INF/tlds/custom.tld</taglib-location>
  	</taglib>
  </jsp-config>
</web-app>